@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: #03989e;
  height: 20vh;
  width: 100vw;
  position: relative;
}
header a {
  color: blue;
  font-size: 23px;
}

.logo {
  height: 20vh;
  width: 10vw;
  position: absolute;
  left: 2vw;
  background-image: url(../Imagenes/logo.png);
  background-size: contain;
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.ul {
  height: 15vh;
  width: 60vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
}
.ul .li {
  width: 10vw;
  margin: 10px;
  text-align: center;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ul .li:hover {
  background-color: white;
  color: black;
}

a {
  font-size: 25px;
}

body {
  font-family: "Nunito", sans-serif;
}
body .seccion1 .nuevaImagen {
  position: relative;
  height: 100%;
  width: auto;
  background-image: url(../Imagenes/imagensection2.png);
}
body .seccion1 .nuevaImagen .seccion2 {
  margin: 10px;
  opacity: none;
}
body .seccion1 .nuevaImagen .seccion2 .textoParrafo {
  font-size: 35px;
  color: white;
  padding: 30px;
}
body .marquee {
  width: 100vw;
}
body .footer {
  color: black;
  background-color: #039890;
  text-align: center;
}

body .tituloFarmacias {
  text-align: center;
  margin: 30px 0;
  color: #03989e;
  font-size: 35px;
  font-weight: 900;
}
body .farmasTurno {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .farmasTurno .grid10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vh;
  grid-template-columns: 30vh;
  -ms-grid-rows: 4vw 10vw;
  grid-template-rows: 4vw 10vw;
      grid-template-areas: "titulo" "parrafo";
  padding: 9px;
}
body .farmasTurno .grid10 .tituloGrid10 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-color: #03989e;
  grid-area: titulo;
  padding: 1px;
  text-align: center;
  color: #0000ff;
  font-size: 30px;
}
body .farmasTurno .grid10 .tamañoDire {
  color: blue;
  font-size: 24px;
}
body .farmasTurno .grid10 .textoGrid10 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  background-color: #C1EDF1;
  grid-area: parrafo;
}
body .farmasTurno .grid10:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body .imagenIoma1 {
  margin: 0 350px;
}
body .parrafoIoma {
  font-size: 25px;
  margin: 25px;
  color: white;
  padding: 20px;
}
body .parrafoIoma1 {
  font-size: 25px;
  margin: 25px;
  color: white;
  list-style: disc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .fondo {
  background-image: url(../Imagenes/imagenioma.jpg);
}

body .imagenPami {
  margin: 10px;
}
body .imagenPami1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5vw 40vw;
}
body .imagenPami1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
body .parrafoPami {
  font-size: 25px;
  margin: 25px;
  padding: 15px;
  color: black;
}
body .parrafoPami1 {
  font-size: 25px;
  color: black;
  margin: 25px;
  list-style: disc;
  margin-left: 60px;
}

body {
  font-size: 23px;
}
body .contacto {
  margin: 0 150px;
}
body .contacto2 {
  margin: 20px;
}
body .contactoo {
  background-image: url(https://www.consalud.es/uploads/s1/13/43/98/1/medicamento-inyectable.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .consejos {
  margin: 50 0 0px;
}
body .palme {
  padding: 0 0 20px;
  margin: 0 0 15px;
}