body{
    font-family: 'Nunito', sans-serif;
    

    

   

    .seccion1{

        
    
    
        .nuevaImagen{
            
            position: relative;
            height: 100%;
            width: auto;
            background-image:url(../Imagenes/imagensection2.png);
        
           
           
           
    
    
            .seccion2{
                margin: 10px;
                opacity:none;
    
                .textoParrafo{
                    font-size: 35px; 
                    color: white;
                    padding: 30px;
                }
            }
        }
    


    }


    .marquee{
        width: 100vw;  
    }
    

    .footer{
        color: black;
        background-color: #039890;
        text-align: center;
    }
    




}