body{
    font-size: 23px;
    
    

    .contacto{
        margin:0 150px;
      
    }

    .contacto2{
        margin: 20px;
    }

    .contactoo{
        background-image: url(https://www.consalud.es/uploads/s1/13/43/98/1/medicamento-inyectable.jpeg);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .consejos{
        margin: 50 0 0px;

    }

    .palme{
        padding: 0 0 20px;
        margin: 0 0 15px;
    }

    
}

