body{

    .imagenIoma1{
        display: inline-flex;
        margin: 100px;
       
       
       
    }

    .imagenIoma{
        height: 820px;
        width: auto;
        margin: 10px;
       
    }

    .parrafoIoma{
        font-size: 25px;
        margin: 25px;
        color: black;
    }

    .parrafoIoma1{
        font-size: 25px;
        margin: 25px;
        color: black;
        list-style: disc;
    }


}