body{
    font-family: 'Nunito', sans-serif;
    

    

   

    .seccion1{

        .parrafoAzul{
            color:blue;
            font-weight:bolder;
             text-decoration:solid;
            border: 5px;
            padding: 50px;
            display: flex;
            flex-direction:row;
            /* background-color:#00FFFF; */
            justify-content: center;
            text-align: center;
            font-size: 2rem;   
        }
    
    
        .nuevaImagen{
            
            position: relative;
            height: 100%;
            width: auto;
            background-image:url(../Imagenes/imagensection2.png);
        
           
           
           
    
    
            .seccion2{
                margin: 90px;
                margin: 30px;
                opacity:none;
    
                .textoParrafo{
                    font-size: 35px; 
                    color: white;
                    padding: 50px;
                }
            }
        }
    


    }


    .marquee{
        width: 100vw;  
    }
    

    .footer{
        background-color: #039890;
        text-align: center;
    }
    




}