body{

    .contacto{
        margin:0 150px;
      
    }

    .contacto2{
        margin: 20px;
    }

    .contactoo{
        background-image: url(https://www.ofx.com/-/media/images_for_modules/modules/ml018%20-%20generic%20hero/blog/cs-342%20medical-tourisim-header-1600x600.ashx?hash=B1C009ADE22C991B6EB2EE16AA546F67);
        background-position: center;
    }
}