header{
    background-color:#03989e;
    height: 20vh;
    width: 100vw;
    position: relative;
}

.logo{
    height: 20vh;
    width: 10vw;
    position: absolute;
    left: 2vw;
    background-image: url(../Imagenes/logo.png);
    background-size: contain;
    }
   


.ul{
    height: 15vh;
    width: 60vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.ul .li{

width: 10vw;

margin: 10px;

text-align: center;

height: 10vh;

display: flex;

justify-content: center;

align-items: center;

border-radius: 10px;

transition: 0.5s;
}

.ul .li:hover{
    background-color: white;
    color: black;
}
       
   

